// Separators
hr.short
    width: 80px

// Lists
ul
    padding: 0
    margin: 0
    list-style-type: none

// Sections
section
    &.stripped:nth-child(even)
        background: #D6F7C8
    &.stripped:nth-child(odd)
        background: #F9FFE2
    @media(min-width: 768px)
        .row
            padding: 40px 40px 60px 40px
    &.spacer
        padding-top: 180px

// Grid
.simple-marge
    &:not(':first-child')
        margin-left: 0

// Alignment
.align-right
    text-align: right
@media(min-width: 768px)
    .align-right-sm
        text-align: right

// Font-awesome
i.fa.big
    font-size: 40px

// Links
a,
a:focus,
a:active,
a:hover
    color: inherit
    text-decoration: none
    cursor: pointer
    .no-hover
        color: #000
a:hover
    color: #777
    
// Inputs
input.form-control
    -webkit-border-radius: 0
    -moz-border-radius: 0
    border-radius: 0
    

// Buttons
.btn
    -webkit-border-radius: 0
    -moz-border-radius: 0
    border-radius: 0
    border: none
.btn-primary
    background-color: #569CD8
    &:hover
        background-color: #5383AD


// Typography
i.big
    font-size: 20px
    font-style: normal
    vertical-align: bottom

// Colors
.blue
    color: #0083e7
.red
    color: #e71919
.green
    color: #20b910
