hr.short
    width: 80px

section
    &.stripped:nth-child(even)
        background: #F7F7F7
    .row
        padding: 40px 40px 60px 40px
    &.spacer
        padding-top: 180px

.align-right
    text-align: right

i.fa.big
    font-size: 40px
    
a
    color: inherit
    &:hover
        cursor: pointer
        color: #CCC
        text-decoration: none
