html,
body
    margin: 0
    padding: 0
    height: 100%

body
    padding-top: 50px
    font-family: 'texgyreherosregular', arial, sans-serif
    nav
        border: none
        background-color: rgba(255,255,255,0.9)
        .navbar-header > button
            background-color: #CCC
            .icon-bar
                background-color: #fff
        .navbar-collapse.collapse.in
            border-bottom: 1px #D2AB75 solid
            @media(min-width: 768px)
                border-bottom: none
        .navbar-nav > li
            a:hover
                text-decoration: none
                background-color: #EEE
            .nav-text
                padding: 15px 5px
                line-height: 20px
    .wrapper
        min-height: 100%
        position: relative
        padding-bottom: 125px
        @media(min-width: 768px)
            padding-bottom: 100px
        @import 'views/start'
        @import 'views/panel'
        @import 'views/login'
        @import 'views/footer'