.container-fluid
    .row
        .col-xs-12.col-sm-4
            h2 Remaining total due: 404€
            h3 For:
            ul
                li Party 1
                li Party 2
                li Party 3
                li Party 4
        .col-xs-12.col-sm-4
            h2 List of your parties
            ul
                li Party 1
                li Party 1
                li Party 1
                li Party 1
                li Party 1
                li Party 1
                li Party 1
                li Party 1
                li Party 1
                li Party 1
                li Party 1
        .col-xs-12.col-sm-4
            h2 Your groups
            ul
                li Group 1
                li Group 1
                li Group 1
                li Group 1
                li Group 1
                li Group 1
                li Group 1
                li Group 1
                li Group 1
                li Group 1
                li Group 1